body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                    
}

.game-name { 
    font-size: 1.8em;
}

.tile { 
    background-color: #ffe590;
    width: 64px;
    height: 66px;
    font-size: 3.6em;
    text-align: center;       
    line-height: 1em;          
    margin: 2px;
    display: inline-block;                   
    box-shadow: 2px 2px 1px 1px rgba(200,200,200, 0.5);
    border-radius: 5px;
}

#scorecard { 
    font-size: 1.6em;
}

#scorecard::after { 
    content: 'pts';
}

.game { 
    padding: 5px;
    margin: 5px auto;
}

.completed-word {
    background-color: rgba(190,60,60,90);
    margin: 2px auto;
}